td{
    border: 1px solid black;
    padding: 6px;
}

table{
    border-spacing: 0px;
    width: 100%;
}

.borderless{
    border: none;
}

.parent{
display: flex;
border: 1px solid;
width: 80%;
}
.text{
justify-content: center;
}